/* font-family: 'Jura', sans-serif;
font-family: 'Orbitron', sans-serif; */
html,body{
    overflow-x: hidden;
    background-color: black;
}

body{
    font-family: 'Jura', sans-serif;
    color: white;
}

nav{
    border-bottom: solid 1px white;
    background-color: black;
}

h1{
    font-family: 'Orbitron', sans-serif;
}

h1{
    font-size: 70px;
}

.color-lightblue{
    Color: #2B9DF4;
}

.size-arrow{
    font-size: 50px;
}

.size-number{
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
}

.border-bottom-lightblue{
    border-bottom: solid 1px #2B9DF4;
}

.border-top-lightblue{
    border-top: solid 1px #2B9DF4;
}

.font-size-small{
    font-size: small;
}

.font-size-large{
    font-size: large;
}

.font-size-icon{
    font-size: 30px;
}

.space{
    height: 150px;
}

.bg-header{
    background: linear-gradient(rgba(0, 0, 0, 0.555), rgb(0, 0, 0)), url(./media/moon.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-moon{
    height: 50vh;
    background-image: url(./media/moon2.jpg);
    background-size:contain;
    background-position: 90%;
    background-repeat: no-repeat;

}

.bg-rocket{
    background-image: url(./media/missile-2027068_1280.png);
    background-size: contain;
    background-position: 80%;
    background-repeat: no-repeat;
}

.size-rocket{
    height: 100vh;
}

.bg-paragrafo{
    background: linear-gradient(rgba(0, 0, 0, 0.555), rgb(0, 0, 0));
}

button{
    width: 170px;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 20px;

    border: 15px solid transparent;
    border-image: url(./media/expand-icon.png) 30 space;

}


.bg-sunrise{
    height: 55vh;    
    background: linear-gradient(rgba(0, 0, 0),transparent, rgba(0, 0, 0)), url(./media/sunrise-1765027_1920.jpg);
 
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 30%;
}

.border-fade{
    border-bottom: 15px solid transparent;
    border-image: linear-gradient(transparent,#2b9bf4 40%,#2b9bf4 60%,transparent);
}



.grad-border {
    width: 85vh;
    display: flex;
  }
  .left-border, .right-border {
    width: 40vw;
    border-bottom: 6px solid #2b9df4;
    display: inline-block;
  }
  .left-border {
    border-image: linear-gradient(270deg, #2b9df4e7, black) 1;
  }
  .right-border {
    border-image: linear-gradient(90deg, #2b9df4e7, black) 1;
  }


